.gradient_1{
  background-color: #AA076B; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #000000, #61045F, #AA076B 75%, #61045F, #000000);
}

.background-properties {
  width: 100%;
  height: auto;
  background-image: url('halloween.png');
  background-repeat: no-repeat;
  background-size: contain;
}
/*
body {
  background-image: url(halloween.png);
}
*/